{% extends "base.html" %} {% block title %}Products{% endblock %} {% block
content_block %}

<!-- Product add toggle -->
<div class="container-product-add">
  <!-- Button to toggle the new product form -->
  <a href="{{ url_for('views.edit_product')}}"
    ><button id="toggle-form-btn">Add New Product</button></a
  >

  <!-- Import CSV Form -->
  <div class="import-container">
    <form
      id="import-csv-form"
      method="POST"
      action="{{ url_for('views.import_csv') }}"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        id="csv-file"
        name="csv_file"
        accept=".csv"
        style="display: none"
        required
      />
      <button type="button" id="import-csv-btn">Import CSV</button>
    </form>
  </div>
</div>

<!-- Category filters -->
<div class="category-filters">
  <div class="row">
    <!-- Category selector -->
    <div class="selector-container">
      <label for="category-selector" class="selector-label"
        >Filter by Category:</label
      >
      <select
        id="category-selector"
        name="category"
        class="custom-select"
        onchange="location.href = this.options[this.selectedIndex].value;"
      >
        <option
          value="{{ url_for('views.products') }}"
          {%
          if
          not
          selected_category
          %}selected{%
          endif
          %}
        >
          All Categories
        </option>
        {% for category in categories %} <option value="{{
        url_for('views.products', category=category.name) }}" {% if
        selected_category == category.name %}selected{% endif %}> {{
        category.name }} {% endfor %}
      </select>
    </div>

    <!-- Search input -->
    <div class="search-container">
      <input
        type="text"
        id="product-search"
        name="search"
        placeholder="Search for products..."
      />
    </div>
  </div>

  <div class="row">
    <!-- Layout toggle selector -->
    <div class="layout-toggle">
      <label for="layout-selector" class="selector-label">Layout:</label>
      <select id="layout-selector" class="custom-select">
        <option value="grid">Grid</option>
        <option value="list">List</option>
      </select>
    </div>

    <!-- Price filter -->
    <div class="price-filter">
      <label for="min-price" class="price-label">Min Price:</label>
      <input
        type="number"
        id="min-price"
        name="min-price"
        class="price-input"
        placeholder="0"
      />

      <label for="max-price" class="price-label">Max Price:</label>
      <input
        type="number"
        id="max-price"
        name="max-price"
        class="price-input"
        placeholder="1000"
      />
    </div>
  </div>
</div>

<!-- Displaying products -->
<div id="product-list">
  {% for product in products %}
  <div class="product-item">
    <!-- Product Image -->
    <div class="image-container">
      <img
        src="https://placehold.co/600x400"
        alt="{{ product.name }}"
        class="product-image"
      />
    </div>
    <!-- Product Details Container -->
    <div class="details-container">
      <h2>{{ product.name }}</h2>
      <p class="category">{{ product.category }}</p>
      <p class="price">${{ product.price }}</p>
      <p class="description">{{ product.description }}</p>
    </div>
    <button class="delete-btn" data-product-id="{{ product.id }}">
      <i class="bi bi-x"></i>
    </button>
    <a href="{{ url_for('views.edit_product', product_id=product.id) }}">
      <button class="edit-btn">
        <i class="bi bi-pencil-square"></i>
      </button>
    </a>
  </div>
  {% else %}
  <p>No products available.</p>
  {% endfor %}
</div>

{% endblock %}
