{% extends "base.html" %} {% block title %}Products{% endblock %} {% block
content_block %}

<!-- Product add toggle -->
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Button to toggle the new product form -->
    <a
      href="{{ url_for('views.edit_product')}}"
      id="add-new-product"
      class="btn btn-primary"
      >Add New Product</a
    >

    <!-- Import CSV Form -->
    <form
      id="import-csv-form"
      method="POST"
      action="{{ url_for('views.import_csv') }}"
      enctype="multipart/form-data"
      class="d-inline-block"
    >
      <input
        type="file"
        id="csv-file"
        name="csv_file"
        accept=".csv"
        style="display: none"
        required
      />
      <button type="button" id="import-csv-btn" class="btn btn-secondary">
        Import CSV
      </button>
    </form>
  </div>
</div>

<!-- Category filters -->
<div class="container mb-4">
  <div class="row mb-3">
    <!-- Category selector -->
    <div class="col-md-6">
      <label for="category-selector" id="category-label" class="form-label"
        >Filter by Category:</label
      >
      <select
        id="category-selector"
        name="category"
        class="form-select"
        onchange="location.href = this.options[this.selectedIndex].value;"
      >
        <option
          value="{{ url_for('views.products') }}"
          {%
          if
          not
          selected_category
          %}selected{%
          endif
          %}
        >
          All Categories
        </option>
        {% for category in categories %} <option value="{{
        url_for('views.products', category=category.name) }}" {% if
        selected_category == category.name %}selected{% endif %}>{{
        category.name }} {% endfor %}
      </select>
    </div>

    <!-- Search input -->
    <div class="col-md-6">
      <label for="product-search" id="search-label" class="form-label"
        >Search:</label
      >
      <input
        type="text"
        id="product-search"
        name="search"
        class="form-control"
        placeholder="Search for products..."
      />
    </div>
  </div>

  <div class="row">
    <!-- Layout toggle selector -->
    <div class="col-md-6">
      <label for="layout-selector" id="layout-label" class="form-label"
        >Layout:</label
      >
      <select id="layout-selector" class="form-select">
        <option value="grid">Grid</option>
        <option value="list">List</option>
      </select>
    </div>

    <!-- Price filter -->
    <div class="col-md-6 d-flex justify-content-between">
      <div class="me-2">
        <label for="min-price" id="min-price-label" class="form-label"
          >Min Price:</label
        >
        <input
          type="number"
          id="min-price"
          name="min-price"
          class="form-control"
          placeholder="0"
        />
      </div>
      <div>
        <label for="max-price" id="max-price-label" class="form-label"
          >Max Price:</label
        >
        <input
          type="number"
          id="max-price"
          name="max-price"
          class="form-control"
          placeholder="1000"
        />
      </div>
    </div>
  </div>
</div>

<!-- Displaying products -->
<div id="product-list" class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-12 mb-3 product-item">
      <div class="list-group">
        <div class="list-group-item">
          <div class="d-flex align-items-center">
            <!-- Product Image -->
            <img
              src="https://placehold.co/100x100"
              class="img-thumbnail me-3"
              alt="{{ product.name }}"
              style="max-width: 100px"
            />
            <div class="flex-grow-1">
              <!-- Product Details Container -->
              <h5 class="mb-1 product-name">{{ product.name }}</h5>
              <p class="mb-1">
                <strong>Category:</strong> {{ product.category }}
              </p>
              <p class="mb-1">
                <strong>Price:</strong>
                {% if product.sale_price %}
                <span class="text-decoration-line-through text-muted"
                  >${{ product.price }}</span
                >
                <span class="text-danger ms-2">${{ product.sale_price }}</span>
                <span class="text-success ms-2">
                  ({{ '{:.0f}'.format(((product.price - product.sale_price)
                  / product.price) * 100) }}% Discount)
                </span>
                {% else %} ${{ product.price }} {% endif %}
              </p>
              <p class="mb-1">
                <strong>Current Quantity:</strong> {{
                current_quantities[product.id] }}
              </p>
              <p class="mb-1">{{ product.description }}</p>
            </div>
            <div class="d-flex flex-column align-items-end">
              <button
                class="btn btn-danger mb-2 delete-btn"
                data-product-id="{{ product.id }}"
              >
                <i class="bi bi-x"></i> Delete
              </button>
              <a
                href="{{ url_for('views.edit_product', product_id=product.id) }}"
                class="btn btn-warning"
              >
                <i class="bi bi-pencil-square"></i> Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p class="text-center">No products available.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
