/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Global styles */
body {
  font-family: "Roboto", sans-serif; /* Use the imported font */
  line-height: 1.6; /* Improve readability */
  color: #333; /* Dark grey text color */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light background color for contrast */
}

/* Navbar styling */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px; /* Spacing between menu items */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 700; /* Bold text for better visibility */
}

.navbar a:hover {
  text-decoration: underline; /* Underline on hover for better interactivity */
}

/* Content styling */
.content {
  padding: 20px;
  max-width: 1200px; /* Maximum width for better readability */
  margin: 0 auto; /* Center align content */
}

/* Button styling */

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
  background-color: #0056b3;
}

/* Button to toggle form visibility */
/* Button to import csv files */
#toggle-form-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 1rem;
}

/* Button hover styling */
#toggle-form-btn:hover {
  background-color: #007bff;
  color: #fff;
}

#import-csv-btn {
  font-size: 1rem;
  font-weight: bold;
  color: #04aa6d;
  background-color: #fff;
  border: 2px solid #04aa6d;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover styling */
#import-csv-btn:hover {
  background-color: #04aa6d;
  color: white;
}

.container-product-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-product-add > button,
.container-product-add .import-container {
  display: inline-block;
  margin: 0;
}

/* Delete button styling */
.delete-btn {
  position: absolute;
  padding: 3px 10px 3px 10px;
  right: 10px;
  bottom: 10px;
  display: none;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #ff6b6b;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.edit-btn {
  position: absolute;
  padding: 3px 10px 3px 10px;
  right: 10px;
  bottom: 50px;
  display: none;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.category-name {
  font-size: 16px;
  font-weight: bold;
}

.delete-category-form {
  margin: 0;
  padding: 0;
}

.delete-button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}

.no-categories {
  text-align: center;
  color: #888;
  font-style: italic;
}

/* Form styling */
.edit-product-form,
.product-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

form label {
  display: block;
  margin: 10px 0 5px; /* Spacing for labels */
  font-weight: 500; /* Slightly bold labels */
}

form input,
form textarea {
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: 16px;
}

form textarea {
  resize: vertical; /* Allow vertical resizing only */
  min-height: 100px; /* Minimum height for text area */
}

.category-filters {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
}

/* Container for selectors */
.selector-container {
  margin-bottom: 5px; /* Adjust spacing as needed */
}

/* Label styling */
.selector-label {
  font-weight: bold;
  margin-right: 0.5rem;
  display: inline-block;
}

/* Custom select styling */
.custom-select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

/* Custom select focus styling */
.custom-select:focus {
  border-color: #007bff; /* Change to your primary color */
  outline: none;
}

/* Option styling (optional) */
.custom-select option {
  padding: 0.5rem;
}

.search-container {
  margin-bottom: 5px;
}

#product-search {
  width: auto;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.flash-messages {
  margin-bottom: 20px;
  transition: opacity 1s ease-out;
}

.flash-messages.fade-out {
  opacity: 0;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Base styles for product list */
#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Grid layout styles */
.grid-layout {
  flex-direction: row;
}

.grid-layout .product-item {
  width: calc(
    33.333% - 1rem
  ); /* Adjust width to fit 3 items per row, minus gap */
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

/* List layout styles */
.list-layout {
  display: flex;
  flex-direction: column;
}

.list-layout .product-item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 1rem; /* Adds space between image and details */
}

.image-container {
  flex-shrink: 0; /* Prevents the image container from shrinking */
}

.details-container {
  flex: 1; /* Allows the details container to take up the remaining space */
}

#grid-layout-btn {
  padding: 0 5px;
  background: none;
  color: #000;
}

#list-layout-btn {
  padding: 0 5px;
  background: none;
  color: #000;
  font-size: large;
}

.category-filters button.active {
  color: #007bff;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 40px 20px 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.5s ease-out;
}

.product-item:hover .delete-btn,
.product-item:hover .edit-btn {
  display: block;
}

.product-item:hover {
  background-color: #f9f9f9;
  transition: 0.5s ease-out;
}

.grid-layout .product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.list-layout .product-image {
  width: 264px;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-item h2 {
  margin: 0 0;
  color: #333;
}

.product-item .category {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: 1px;
  color: #808080;
}
.product-item .price {
  font-size: 1.1em;
  color: #f72020;
}

.product-item .description {
  font-size: 0.9em;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px; /* Adjust based on your layout */
}

.category-filters .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.selector-container,
.search-container,
.layout-toggle,
.price-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price-filter {
  flex-grow: 1;
  justify-content: flex-end;
}

.layout-toggle {
  display: flex;
  align-items: center;
}

.price-input {
  width: 70px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
