/* Keyframes for fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Flash messages container */
#flash-messages {
  position: relative;
  transition: opacity 1s ease-out;
}

/* Applied fade-out class to the flash messages */
.fade-out {
  animation: fadeOut 1s forwards;
}